/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
}

body {
  border: 1.2rem solid #ffffff;
  overflow-x: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5474fd;
  padding: 4rem 17% 3rem 17%;
  margin: 0 auto;
  position: sticky;
  top: 0; /* Sticks the navigation to the top of the viewport */
  z-index: 10;
}
.navigation__left {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}
.navigation__list {
  display: flex;
  gap: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.navigation a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.navigation a:hover {
  color: #102064;
}

.footer {
  background-color: #333333;
  text-align: center;
  padding: 4% 17%;
  color: #ffffff;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}
.footer h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-top: 3%;
}
.footer h5 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0.8rem 0 2rem 0;
}

.buttoni {
  position: relative;
  margin-top: 2rem;
}
.buttoni button {
  position: relative;
  text-align: center;
  width: 22.8rem;
  height: 5rem;
  color: #ffffff;
  border: 1px solid #5474fd;
  overflow: hidden;
  text-transform: uppercase;
  background-color: #5474fd;
  transition: 3s;
}
.buttoni button:hover {
  cursor: pointer;
  color: #ffffff;
}
.buttoni button:hover:after {
  left: -10%;
  width: 120%;
}
.buttoni a {
  text-decoration: none;
  color: #ffffff;
  z-index: 999;
}

.slider {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
.slider::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 35%, rgb(0, 0, 0) 100%);
}
.slider .text-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8rem 8rem 2rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.slider .text-section header {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.slider .text-section p {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}
.slider .text-section .scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}
.slider .text-section .scroll-down:hover {
  cursor: pointer;
}
.slider .text-section .scroll-down:hover img {
  scale: 1.3;
}
.slider .text-section .scroll-down span {
  font-size: 1.8rem;
}
.slider .text-section .scroll-down img {
  height: 1.4rem;
  transition: scale 0.3s ease-in-out;
}
.slider .slides-container {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateX(0); /* Start at the first slide */
  width: 100%;
}
.slider .slide {
  flex: 0 0 100%; /* Each slide takes up full container width */
  height: 100%;
  position: relative;
}
.slider .slide img {
  width: 100%;
  height: 950px;
  object-fit: cover;
  object-position: center;
}
.slider button {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  background: rgba(84, 116, 253, 0);
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 1.5rem 2rem;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s all ease-in-out;
}
.slider button:hover {
  background: #5474fd;
}
.slider button.prev {
  right: 8.5rem;
}
.slider button.next {
  right: 2em;
}

.second-section {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding: 0 17%;
  background: url(../images/whyChooseUsImage.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}
.second-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(71, 67, 67, 0.7);
}
.second-section .text-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.second-section .text-container header {
  font-size: 3.6rem;
  color: white;
}
.second-section .text-container p {
  font-size: 1.8rem;
  color: white;
}
.second-section .image-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.second-section .image-container img:first-child {
  position: relative;
  left: 3.5rem;
}
.second-section .image-container img:last-child {
  position: relative;
  right: 3.5rem;
}

.small-banner {
  background-color: #333333;
  border-top: 6px solid #ffffff;
  position: relative;
}
.small-banner .box1 {
  width: 30rem;
  height: 21rem;
  border: solid 0.2rem rgba(249, 246, 246, 0.639);
  border-color: rgba(146, 142, 142, 0.705) transparent transparent transparent;
  border-radius: 50%/7rem 7rem 0 0;
  position: absolute;
  bottom: 10%;
  right: 53%;
}
.small-banner .box2 {
  width: 30rem;
  height: 21rem;
  border: solid 0.2rem rgba(249, 246, 246, 0.639);
  border-color: rgba(146, 142, 142, 0.705) transparent transparent transparent;
  border-radius: 50%/7rem 7rem 0 0;
  position: absolute;
  bottom: 10%;
  left: 53%;
}
.small-banner .small-banner__text {
  display: flex;
  justify-content: space-evenly;
  padding: 10rem 18rem;
  margin: 0 auto;
  gap: 10rem;
}
.small-banner .small-banner__list {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
}

.container .third-banner {
  background-image: url(../images/modern.svg);
  border-top: 0.6rem solid #ffffff;
  background-size: cover;
}
.container .third-banner__wrapper {
  padding: 8% 17%;
  margin: 0 auto;
}
.container .third-banner__wrapper__article {
  max-width: 46%;
  max-height: 12%;
  position: relative;
  padding: 3rem 5rem 3rem 5rem;
}
.container .third-banner__wrapper__article::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.container .third-banner__wrapper__article h4 {
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  color: #e8e8e8;
  position: relative;
}
.container .third-banner__wrapper__article h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  margin-top: 3rem;
}
.container .third-banner__wrapper__article p {
  position: relative;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  margin-top: 2rem;
}
.container .third-banner-reverse {
  background-image: url(../images/hill.svg);
  background-size: cover;
}
.container .third-banner-reverse main {
  display: flex;
  justify-content: flex-end;
}

.about-us {
  background: url(../images/whyChooseUsImage.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 17%;
  height: 90vh;
}
.about-us::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(71, 67, 67, 0.7);
}
.about-us .text-container {
  z-index: 1;
  background-color: rgba(84, 115, 253, 0.3882352941);
  padding: 12rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-us .text-container header {
  font-size: 4.8rem;
  color: #ffffff;
}
.about-us .text-container p {
  font-size: 2rem;
  color: #ffffff;
  width: 45%;
}
.about-us .text-container .scroll-down {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 3rem;
}
.about-us .text-container .scroll-down:hover {
  cursor: pointer;
}
.about-us .text-container .scroll-down:hover img {
  scale: 1.3;
}
.about-us .text-container .scroll-down span {
  font-size: 1.8rem;
  color: #ffffff;
}
.about-us .text-container .scroll-down img {
  height: 1.4rem;
  transition: scale 0.3s ease-in-out;
}
.about-us .image-container {
  z-index: 2;
  position: absolute;
  right: 19%;
}
.about-us .image-container img {
  width: 60rem;
  height: 70rem;
  object-fit: cover;
}

.articles-section {
  background-color: #333333;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  align-items: center;
  justify-content: center;
  padding: 0 17%;
  color: #ffffff;
  border-top: 1.2rem solid white;
  border-bottom: 1.2rem solid white;
}
.articles-section h5 {
  font-size: 4.8rem;
}
.articles-section .articles {
  display: flex;
  flex-direction: row;
  gap: 7rem;
}
.articles-section .articles .article-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.articles-section .articles .article-container .img {
  position: relative;
}
.articles-section .articles .article-container .img img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  transform: translate(2rem, -2rem);
  position: relative;
  z-index: 1;
  transition: 0.5s all ease-in-out;
}
.articles-section .articles .article-container .img::after {
  content: "";
  height: 98%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2862745098);
  z-index: 0;
}
.articles-section .articles .article-container h4 {
  font-size: 3rem;
  margin: 2rem 0 1rem 0;
}
.articles-section .articles .article-container p {
  font-size: 1.6rem;
}
.articles-section .articles .article-container:nth-child(1) {
  margin-top: 5rem;
}
.articles-section .articles .article-container:nth-child(2) {
  margin-top: 10rem;
}
.articles-section .articles .article-container:hover img {
  transform: translate(0);
}

/*# sourceMappingURL=main.css.map */
